* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}
body {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #f0e7ff;
    padding: 1rem;
    font-family: Poppins, sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

//colors
$dark: #121212;
$light: #ded3ef;
$red: #fd4102;
$purple: #8e20e1;
$green: #48cc6d;
$yellow: #f0a707;


//font weight

$fontweight: (
    'regular': 400,
    'medium': 600,
    'bold': 800
);
body {
    height: 100%;
    width: 100%;
}