@import 'gandrewardsResets';

body {

    img {
        object-fit: contain;
        width: 4rem;
    }
}

@media screen and (max-width: 600px) {
    body {

        .displayContent {
            width: 80%;
            margin: auto;
            margin-top: 5rem;
            margin-bottom: 5rem;
            border-radius: 1.5rem;
            background: #f0e7ff;      
            box-shadow: .2rem .2rem .4rem #1212129a;
            padding: 1rem;

            .heading {
                display: flex;
                align-items: center;
                justify-content: start;
                gap: 4rem;
                

                p {
                    font-size: 2.6rem;
                    font-weight: map-get($fontweight, medium );
                    text-transform: capitalize;
                    color: $purple;

                }

                img {
                    object-fit: contain;

                }
            }

            p {
                font-size: 1.5rem;
                font-weight: map-get($fontweight, regular );
                color: $dark;
                margin-top: 2rem;
                margin-left: 1rem;
                margin-bottom: 1rem;
            }
        }

        .btns {
            width: 70%;
            margin: auto;
            margin-top: 3rem;
            
            button {
                display: block;
                width: 25rem;
                padding: 1rem;
                margin-bottom: 2rem;
                border-radius: 1rem;
                border: none;
                color: $light;
                font-size: 1.6rem;
                font-weight: map-get($fontweight, bold );
                text-transform: capitalize;

                &:nth-child(1) {
                    background-color: $purple;
                }
                &:nth-child(2) {
                    background-color: $yellow;
                }
            }
        }
    }
}