@import 'messageResets';

body {

    img {
        object-fit: contain;
        width: 4rem;
    }
}

@media screen and (max-width: 600px) {
    body {

        .messageDisplay {
            width: 80%;
            margin: auto;
            padding: 2rem;
            background: #ded3ef;
            border-radius: .5rem;
            margin-top: 8rem;

            p {
                font-size: 1.6rem;
                font-weight: map-get($fontweight, regular );
                color: $dark;

            }
        }

        .buttons {
            width: 80%;
            margin: auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            align-items: center;
            gap: 3rem;
            margin-top: 8rem;

            button {
                padding: 1rem 3rem;
                color: $dark;
                font-size: 1.6rem;
                font-weight: map-get($fontweight, medium );
                text-transform: capitalize;
                border: none;
                background-color: $yellow;
                border-radius: 1rem;

                
            }
        }
    }
}